.App {
  margin-left: 400px;
  margin-right: 100px;
  margin-bottom: 100px;
}

h2.title {
  position: relative;
  left: 10px;
  font-size: 35px;
}

.logo {
  position: relative;
  top: 100px;
  right: 70px;
  width: 70px;
  height: 70px;
}

.wall {
  margin-top: 30px;
}

.red-heart-post {
  width: 32px;
  height: 30px;
  margin-left: 9px;
  margin-bottom: 10px;
  transition: .3s ease all;
}

.heart-post {
  transition: .3s ease all;
  width: 50px;
  height: 50px;
}

.comment-img {
  width: 50px;
  height: 50px;
}

.red-heart-comment {
  position: relative;
  left: 253px;
  bottom: 22px;
  width: 10px;
  height: 9px;
  transition: .3s ease all;
}

.heart-comment {
  position: relative;
  left: 250px;
  bottom: 18px;
  width: 16px;
  height: 16px;
  transition: .3s ease all;
}

.comment-like {
  position: relative;
  left: 30px;
  bottom: 25px;
  font-size: 10px;
  font-weight: 900;
  color: grey;
}

.comment-image {
  border-radius: 50%;
}

.text {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comment-section {
  margin: 10px;
}

.post-likes {
  position: relative;
  bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

input {
  margin: 2px;
}

input[type='text'] {
  width: 230px;
  border-radius: 50px;
  background-color: lavenderblush;
  border: 0;
  padding: 5px;
}

button, input:focus {
  outline: none;
}

.add-btn {
  border-radius: 5px;
  background-color: white;
  width: 40px;
  height: 25px;
  border: 0;
  font-weight: 500;
  color: rgb(17, 144, 230);
}

.delete-comment {
  position: relative;
  left: 200px;
  bottom: 45px;
  border: 0;
  font-size: 10px;
  font-weight: 700;
  color: grey;
  cursor: pointer;
  background: 0, 0;
  text-decoration: underline;
}

.comment {
  margin-bottom: -30px;
}